.button {
    -fx-cursor: hand;
    -fx-font: 14px Sans-Serif;
    -fx-background-color: #e67300;
    -fx-background-radius: 6, 5;
    -fx-background-insets: 0, 1;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.4), 5, 0.0, 0, 1);
    -fx-text-fill: black;
}