.root {
    -fx-background-image: url("../images/smartcity.jpg");
}

.progress-indicator {
    -fx-accent: black;
}

#loadingText {
    -fx-font: 14px Sans-Serif;
    -fx-fill: black;
}

#selectScenario {
    -fx-font: 38px Sans-Serif;
    -fx-fill: black;
    -fx-stroke: white;
    -fx-stroke-width: 0.3;
}

.choice-box {
    -fx-font: 22px Sans-Serif;
    -fx-background-color: lightblue;
    -fx-mark-color: green;
}

#deleteAllQueuesButton {
    -fx-background-image: url("../images/delete-icon.png");
    -fx-background-color: #e67300;
    -fx-pref-width: 34px;
    -fx-pref-height: 34px;
    -fx-padding: 1px;
    -fx-border-insets: 1px;
    -fx-background-insets: 1px;
}

#settingsButton {
    -fx-background-image: url("../images/settings-icon.png");
    -fx-background-color: #e67300;
    -fx-pref-width: 34px;
    -fx-pref-height: 34px;
    -fx-padding: 1px;
    -fx-border-insets: 1px;
    -fx-background-insets: 1px;
}

.button {
    -fx-cursor: hand;
    -fx-font: 24px Sans-Serif;
    -fx-background-color: #e67300;
    -fx-background-radius: 6, 5;
    -fx-background-insets: 0, 1;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.4), 5, 0.0, 0, 1);
    -fx-text-fill: black;
}